<div class="cards">
  <div class="gene">
      <h5>DATOS GENERALES DE LA ENTIDAD</h5>
      <table>
        <thead>
            <tr>
              <th class="enti">Entidad:</th>
              <th>Dep:</th>
              <th>Mun:</th>
              <th>D.A:</th>
              <th>U.E:</th> 
            </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="person">
    <h5>DATOS  PERSONALES DEL BENEFICIARIO DE BONO DE DISCAPACIDAD</h5>
    <table>
      <thead>
          <tr>
            <th>C.I:</th>
            <th>Exp:</th>
            <th class="Nom">Nombre y Apellido:</th>
            <th>Sexo:</th> 
          </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
    </table>
  </div>
  <div class="tip">
    <table class="tip_ta">
      <thead>
          <tr>
            <th>Tipo de discapacidad:</th> 
            <th>Grado de discapacidad:</th>
            <th>%</th>
            <th>Sexo:</th> 
            <th>Fecha de nacimiento:</th>
            <th>Edad:</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
    </table>
  </div>
  <div class="dir">
    <table class="dir_ta">
      <thead>
          <tr>
            <th>Direccion:</th>
            <th>Fecha otorgada Carnet <br>de Discapacidad:</th>
            <th >Fecha de vencimiento <br> Carnet de Discapacidad:</th>
            <th>Monto:</th> 
          </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
    </table>
  </div>
  <div class="apo">
    <h5>DATOS DEL APODERADO</h5>
    <table class="apo_ta">
      <thead>
          <tr>
            <th>C.I:</th>
            <th>Exp:</th>
            <th>Nombre y Apellido:</th>
            <th>Sexo:</th> 
          </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
    </table>
  </div>
    
</div>

